include /blocks/rating-stars/index
include /blocks/pie/index
include _inline-control
include stat

mixin courses-feedback-slides(feedbacks)
  +b('ul').courses-feedback-slides&attributes(attributes)
    for feedback in feedbacks
      +e('li').feedback
        +e.feedback-inner
          +e.review
            +e('h3').title
              = feedback.course.title

            +rating-stars(feedback.stars).courses-feedback-slides__rating
            +e('a').more(href=feedback.course.link + '/feedback') все отзывы о&nbsp;курсе

            +e.content
              != feedback.content
              if feedback.hasCut
                +e('a').open-feedback(href=feedback.link) весь отзыв

          +e.author
            +e.author-inner
              +e('a').author-link(href=feedback.author.link)
                +e('img').userpic(src=thumb(feedback.photo, 86, 86))

                +e('p').name
                  = feedback.author.name

              +e.address
                +e('span').address-line
                  = countries[feedback.country].na
                if feedback.city
                  +e('span').address-line
                    = feedback.city

    if feedbacks.withSummary
      +e('li').feedback
        +e.feedback-inner_all
          +e('h3').title_all=title
          +feedback-stat({
            mod: 'slider',
            label: 'Пользователей рекомендуют этот курс',
            stats: stats
          })
            a(href=feedbacksLink) все отзывы о курсе
