include /blocks/price/index

+b.courses-recruitment
  +e('a').anchor#signup

  +e('ul').list

    each group, index in groups
      +e('li').course
        +e.info
          //if group.discount
          //  p У вас на эту группу скидка #{group.discount.format()}.


          +e('h4').title #{formatGroupDate(group.dateStart)} — #{formatGroupDate(group.dateEnd)}
          +e('p').text!= group.timeDesc
          +e.teacher
            | Ведущий:
            = ' '
            a(href=group.teacher.getProfileUrl())= group.teacher.displayName

          if group.participantsLimit < 15
            +e('p').participants-limit Осталось #{group.participantsLimit} #{pluralize(group.participantsLimit, 'место', 'места', 'мест')}

        +e.apply
          +price({
            price: group.price,
            fullPrice: group.fullPrice,
            withSecondary: true
          })
          +e.submit
            +b('a')(data-group-signup-link href='/courses/groups/' + group.slug + '/signup' type="button").button._action
              +e('span').text Записаться

  //- - discount = {}
  //- - discount.description = 'Скидки указаны для <a href="mailto:email@gmail.com">email@gmail.com</a> как участнику предыдущего курса по Angular'

  +e.info_discount
    != discount.description
