h2 Общение в чате

p Для чата с недавних пор используется Slack. Это чат, удобный программистов, с возможностью вставлять фрагменты кода и т.д.

p Для захода в него:

ul
  li Зарегистрируйтесь на <a href="http://slack.javascript.ru">http://slack.javascript.ru</a>, используя email #{user.email}.
  li Придёт инвайт на почту. Примите его.
  li Можно входить по адресу <a href="http://javascriptru.slack.com">http://javascriptru.slack.com</a> или поставить <a href="https://slack.com/downloads">приложение Slack</a>.

p При заходе в Slack вы видите каналы, открытые всем. Например, general, angular, react. В них можно общаться независимо от курса.

p.
  Для участников доступен закрытый канал курса.
  Для того, чтобы в него зайти – после подключения к Slack,
  во вкладке профиля <a href="#{user.getProfileUrl()}/courses">Курсы</a> нажмите на соответствующую кнопку группы.

p Некоторые подсказки по Slack:

ul
  li Чтобы вставить код, в строке сообщения используйте сочетание Cmd+Enter (Mac) или Ctrl+Enter, справа-сверху можно будет выбрать язык для подсветки.
  li Чтобы обратиться к другому пользователю, напишите в сообщении "@", а затем его ник. В частности, для обращения к преподавателю данной группы это будет "@#{group.teacherSlackUser ? group.teacherSlackUser.name : group.teacher.profileName}".
  li В настройках Slack-приложения можно поменять Notification Settings (когда уведомлять вас о сообщениях), сделать в Messages тему Compact, скрыть каналы и прочее.

p Общаться в Slack-группе можно также и вне занятий, обычно преподаватель также старается отвечать на вопросы, хотя и не всегда так оперативно, как во время онлайн-встречи.

h2 Резервный чат (Jabber)

p Раньше для общения мы использовали Jabber. Это удобный чат-клиент с открытым протоколом и большим количеством свободно распространяемого программного обеспечения.

p Сейчас мы собираемся перейти только на Slack, но Jabber пока остаётся в качестве резервного варианта. Желательно его тоже настроить.

p Самые популярные клиенты:

ul
  li Для Windows и Linux: <a href="http://pidgin.im">Pidgin</a>.
  li Для MacOS: <a href="https://adium.im/">Adium</a>.

p Для входа на сервер вам понадобятся:

ul
  li <b>Протокол:</b> Jabber (его также называют XMPP)
  li <b>Логин:</b> <code>#{user.profileName}</code> и сервер <code>javascript.ru</code> (в некоторых клиентах вводятся вместе <code>#{user.profileName}@javascript.ru</code>).
  li
    | <b>Пароль:</b> тот, которые вы используете для входа в сайт <code>#{domain.main}</code>.
    | Если вы ранее входили только через Facebook/Github/..., то пароля может не быть,
    | тогда создайте его во вкладке профиля <a href="#{user.getProfileUrl()}/account">Аккаунт</a>.

p Подключайтесь к чату <code>#{group.webinarId}</code>, конференц-сервер <code>conference.javascript.ru</code>, в качестве своего ника(псевдонима) для комнаты укажите свое имя и фамилию в формате "Имя Фамилия".

p Не забудьте создать закладку для комнаты, чтобы потом заходить в один клик.

p Кстати, есть видео по установке и настройке <a href="/courses/pidgin.mp4">Pidgin</a> и <a href="/courses/adium.mp4">Adium</a>.

p Дополнительным способом обращения к преподавателю вне занятий является email (<a href="mailto:#{group.teacher.teacherEmail}">#{group.teacher.teacherEmail}</a>).
