h2 Поддержка вне занятия

p Если что-то из этой инструкции непонятно – задавайте вопросы на <a href="mailto:#{group.teacher.teacherEmail}">#{group.teacher.teacherEmail}</a>, преподаватель на них ответит.

p Для общения вне занятий мы используем Slack-чат. Для захода в него:

ul
  li Зарегистрируйтесь на <a href="http://slack.javascript.ru">http://slack.javascript.ru</a>.
  li Придёт инвайт на почту. Примите его.
  li Вы можете участвовать в открытых группах, задавать вопросы. Для вас также будет доступна, в неё вас добавит преподаватель в начале занятий.


p Некоторые подсказки для общения:

ul
  li Чтобы обратиться к преподавателю, используйте в теле сообщения слово <code>@#{group.teacher.profileName}</code>. Если преподаватель имеет возможность ответить, он ответит.
  li Чтобы вставить код, в строке сообщения используйте сочетание Cmd+Enter (Mac) или Ctrl+Enter, справа-сверху можно будет выбрать язык для подсветки.
  li В настройках Slack-приложения вы можете указать, когда вам будут приходить уведомления, скрыть каналы и прочее.

p Дополнительным способом обращения к преподавателю вне занятий является email (<a href="mailto:#{group.teacher.teacherEmail}">#{group.teacher.teacherEmail}</a>).

p Он надёжнее, чем чат, т.к. не требует мгновенной реакции от преподавателя, если он рядом, и доходит, даже если его рядом нет.

