h2 Поддержка вне занятия

p Если что-то из этой инструкции непонятно – задавайте вопросы на <a href="mailto:#{group.teacher.teacherEmail}">#{group.teacher.teacherEmail}</a>, преподаватель на них ответит.

p Во время собрания также доступен Skype-контакт: "javascript.ru".

if group.skypeLink

  p Для неофициального общения вне занятий есть Skype-группа, к которой можно присоединиться по ссылке: <a href="#{group.skypeLink}">#{group.skypeLink}</a>.

  p Мы выбрали для этого Skype, т.к. он у многих и так стоит и работает.

  p.
    Чтобы обратиться к преподавателю, используйте в теле сообщения слово <code>@#{group.teacher.profileName}</code>.
    Если преподаватель имеет возможность ответить, он ответит.

  p.
    Замечу, что предпочтительным способом обращения к преподавателю вне занятий является email
    (<a href="mailto:#{group.teacher.teacherEmail}">#{group.teacher.teacherEmail}</a>).
    Он надёжнее, не требует мгновенной реакции от преподавателя, если он рядом, и доходит, даже если его рядом нет.

  p Кстати, не все знают, как вставлять в скайп многострочный код. Это делается так:

  pre.
    {code}
    ...ваш код...
    {code}

